body {
    font-family: Arial;
    background-color: #F8F1E9;
    margin: 0;
    text-align: center;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #Ffffff;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 120px;
    width: auto;
}

.nome-clinica {
    color: #4B2E2B;
    font-size: 18px;
    font-weight: bold;
}

.nav-right a {
    color: #4B2E2B;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* TÍTULO */
h1 {
    color: #4B2E2B;
}

/* CATÁLOGO */
.catalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #D4AF37;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* DETALHE */
#detalhe {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.detalhe-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.detalhe-box img {
    width: 300px;
    border-radius: 10px;
}

.detalhe-box div {
    text-align: left;
}

/* BOTÃO VOLTAR */
.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4B2E2B;
    color: #D4AF37;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #6D4C41;
}
