body {
    font-family: Arial;
    background-color: #ffe4ec;
    text-align: center;
}

nav {
    background-color: #d84982;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: #c2185b;
}

input {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #c2185b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
select {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
}
.catalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 0 10px #ccc;
}

.card img {
    width: 100%;
    border-radius: 10px;
}