body {
    font-family: Arial;
    background-color: #ffe4ec;
    text-align: center;
}

h1 {
    color: #c2185b;
}

input {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #d65488;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #c2185b;
}